﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Multitenancy.WebApp</title>

  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Multitenancy.WebApp</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2016 - Multitenancy.WebApp</p>
    </footer>
  </div>

  <environment names="Development">
    <script src="~/lib/npmlibs/es6-shim/es6-shim.js"></script>
    <script src="~/lib/npmlibs/es6-promise/es6-promise.js"></script>
    <script src="~/lib/npmlibs/systemjs/system-polyfills.src.js"></script>
    <script src="~/lib/npmlibs/angular2/angular2-polyfills.js"></script>
    <script src="~/lib/npmlibs/systemjs/system.src.js"></script>
    <script src="~/lib/npmlibs/rxjs/Rx.js"></script>
    <script src="~/lib/npmlibs/angular2/angular2.js"></script>
    <script src="~/lib/npmlibs/angular2/router.js"></script>
    <script src="~/lib/npmlibs/angular2/http.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="~/lib/npmlibs/es6-shim/es6-shim.min.js"></script>
    <script src="~/lib/npmlibs/es6-promise/es6-promise.min.js"></script>
    <script src="~/lib/npmlibs/systemjs/system-polyfills.js"></script>
    <script src="~/lib/npmlibs/angular2/angular2-polyfills.min.js"></script>
    <script src="~/lib/npmlibs/systemjs/system.js"></script>
    <script src="~/lib/npmlibs/rxjs/Rx.min.js"></script>
    <script src="~/lib/npmlibs/angular2/angular2.min.js"></script>
    <script src="~/lib/npmlibs/angular2/router.min.js"></script>
    <script src="~/lib/npmlibs/angular2/http.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">

    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("scripts", required: false)
</body>
</html>
